
@font-face {
    font-family: GothicA1-Black;
    src: url("/static/fonts/avenirltstd-light.woff") format('woff')
}

@font-face {
    font-family: GothicA1-Bold;
    src: url("/static/fonts/avenirltstd-light.woff") format('woff')
}

